certifi==2022.12.7
charset-normalizer==3.1.0
debtcollector==2.5.0
fasteners==0.18
idna==3.4
iso8601==1.1.0
msgpack==1.0.5
netaddr==0.8.0
netifaces==0.11.0
oslo.concurrency==5.1.1
oslo.config==9.1.1
oslo.i18n==6.0.0
oslo.serialization==5.1.1
oslo.utils==6.1.0
packaging==23.1
pbr==5.11.1
pip==23.0.1
prettytable==3.7.0
pyparsing==3.0.9
pytz==2023.3
PyYAML==6.0
requests==2.29.0
rfc3986==2.0.0
setuptools==66.0.0
stevedore==5.0.0
urllib3==1.26.15
wcwidth==0.2.6
WebOb==1.8.7
wheel==0.38.4
wrapt==1.15.0
